/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,300);*/
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed:700);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*  styles go here */
html{
    font-family: 'Muli', 'Helvetica', sans-serif;
    color: #363636;
}

h1{
    font-family: 'Cabin Condensed', 'Helvetica', sans-serif;
    font-size: 70px;
    margin: 0px;
    line-height: .46em;
    padding-bottom: .7em;
    border-bottom: 1px solid #c3c3c3;
}
h1 span{
    font-family: 'Muli', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

h3{
    font-weight: 500;
}

.img{
    position: fixed;
    height: 100%;
    width: 35%;
    background: url("../img/kp01.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.words{
    margin: 0 35%;
    width: 65%;
}

.glass{
    margin: 0 auto;
    width: 580px;
    padding-top: 3em;
}

.form{
    float: right;
}

.results{
    font-family: 'Muli', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 18px;
    display: none;
    text-align: left;
    padding: 1.5em 0;
}
.results p{
    padding: 0px;
}

.selector select {
   background: #fff;
   width: auto;
   padding: 5px;
   font-family: 'Muli', 'Helvetica', sans-serif;
    font-weight: 300;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   text-align: center;
}
.selector {
   height: 34px;
   overflow: hidden;
   border: 0px;
}














/* Helper classes */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
